{% load static%}
<div class="container-fluid">
    <div class="navbar-btn">
        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
    </div>

    <div id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'img/user.png' %}" class="img-circle" alt="Avatar"> <span> {{ user.username }}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="lnr lnr-user"></i> <span>내정보</span></a></li>
                    <li><a href="{% url 'logout'%}"><i class="lnr lnr-exit"></i> <span>로그아웃</span></a></li>
                    <li><a href="{% url 'delete_account'%}"><i class="lnr lnr-cog"></i> <span>회원탈퇴</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>